<h5>BEM VINDO!!</h5>


<button id="btnatualizarlista">atualizar Lista</button>
<div id="partialview"></div>


<script>
    $(document).ready(function () {
        $('#btnatualizarlista').click(function () {
            $.ajax({
                url: "/Home/ExibirTabela",
                type: "GET",
                data: { IdParaEditar:33 },
                success: function (data) {
                    $('#partialview').html(data);
                    $('#btnatualizarlista').fadeOut();

                }
            });
        });
    });

</script>
<script>

    //VAL() = INPUT,  TEXT() = CASO NAO SEJA INPUT.
    $('#btnEditar').click(function () {
        var marcacarro = $('#marcacarro').val();
        var placacarro = $('#placacarro').val();
        var donocarro = $('#donocarro').val();
        var datacadastro = $('#datacadastro').val();
        $.ajax({
            url: "/Home/Editar",
            type: "GET",
            data: { MarcaCarro: marcacarro, PlacaCarro: placacarro, DonoCarro: donocarro, DataDeCadastro: datacadastro },
            success: function (data) {
                alert("Editado com Sucesso!");
                location.reload();

            }
        });
    });

    $('#btnCadastrar').click(function () {
        var marcacarro = $('#marcacarro').val();
        var placacarro = $('#placacarro').val();
        var donocarro = $('#donocarro').val();
        var datacadastro = $('#datacadastro').val();
        $.ajax({
            url: "/Home/Cadastrar",
            type: "POST",
            data: { MarcaCarro: marcacarro, PlacaCarro: placacarro, DonoCarro: donocarro, DataDeCadastro: datacadastro },
            success: function (data) {
                alert("Editado com Sucesso!");
                location.reload();
            }
        });
    });
</script>